@model TaskViewModel
@{
    ViewData["Title"] = "Trang chủ";
}
@using Microsoft.AspNetCore.Http
@if (Context.Session.GetInt32("id") == null)
{
    Context.Response.Redirect(Url.Action("Index", "Login", null));

}
else
{
    <div class="header bg-primary pb-3">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-10 col-11">
                        <h6 class="h2 text-white d-inline-block mb-0">Danh sách công việc</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i
                                            class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Danh sách công việc</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-3 text-right">
                        <button type="button" id="add_task" class="btn btn-block btn-neutral" data-toggle="modal"
                            data-target="#create-form" asp-controller="Home" asp-action="Create">Tạo</button>
                        <div class="modal fade" id="create-form" tableindex="-1" role="dialog" aria-labelledby="create-form"
                            aria-hidden="true">
                            <div class="modal-dialog modal- modal-dialog-centered" role="document">
                                <div id="addContent">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                            <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                                <div class="form-group mb-0">
                                    <div class="input-group input-group-alternative input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </div>
                                        <input class="form-control" id="search_user_name"
                                            data-request-url='@Url.Action("SearchTask","Home")'
                                            placeholder="Hãy nhập tên công việc..." type="text">
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <div class="container-fluid mt-6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Danh sách công việc</h3>
                    </div>
                    <div  id="partial">
                                            <partial name="_TaskList" model="@Model" />

                    </div>

                    
                </div>
            </div>
        </div>
    </div>
}
