@model LogViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Log";

}
@if (Context.Session.GetInt32("id") == null)
{
    Context.Response.Redirect(Url.Action("Index", "Login", null));

}

<div class="header bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col">
                    <h6 class="h2 text-white d-inline-block mb-0">Nhật ký hoạt động</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i
                                        class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Nhật ký hoạt động</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-6">
    <div id="partial">
        <partial name="_LogList" model="@Model" />
    </div>
    
</div>